.navbar {
    display: flex;
    background-color: #e36858;
    justify-content: center;
    align-items: center;
    
}
.lists {
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    padding: 20px;
    color: #d1b5a3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    flex-wrap: wrap;
    
}
.lists li:hover {
    cursor: pointer;
}
    

